@charset "UTF-8";

/* Mudando a cor e o alinhamento do body em um geral */
body{
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
            
}
/* Estilo de cores e alinhamentos para os titulos */
h1{
    color:floralwhite;
    font-size: 40px;
    text-align: center;
}
h2{
    color:floralwhite;
    font-size: 10px;
    text-align: left;
}
/* Efeitos de borda e cores da tabela */
table{
    border-collapse: collapse;
    margin:auto;
    background-color: black;
    border: 3px solid rgb(248, 255, 154);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.30);
  }
table td{
    padding: 2px 2px;
}
/* Brilho e arredondamento do player */
audio{
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.30);
}
/* Brilho e arredondamento do reset */
button{
    font-size: 20px;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.30);
}
